<div class="h-full mx-10 pt-10 ">
    <!--Profile navbar -->
   <app-profile></app-profile>
    <!--nav bar end content zone-->
    <div class="pt-10 ">
        <div class=" h-full grid grid-cols-5 " id="content ">
            
            <!--Content zone-->
            <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
            <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
             <!--Content zone-->
            <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
            
            <!--1111111111111111111-->
            <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
             <!--Content zone-->
             <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
             <!--Content zone-->
             <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
             <!--Content zone-->
             <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
             <!--Content zone-->
             <div>
                <div>
                    <div class=" m-3 cursor-pointer"> 
                        <div>
                            <img src="../../assets/media/1.jpg" alt="" class="rounded-3xl" >
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facilis, voluptates?</h1>
                        </div>
                        <a href="/video"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>
                   
                   
                        
                </div>
            </div>
            <!--1111111111111111111-->
             <!--Content zone-->
            <!--1111111111111111111-->
        </div>
       
    </div>
</div>

<app-footer></app-footer>