<div class="h-full m-10">
    <!--Profile zone -->
    <div class="w-full h-60 ">
        <div class="flex flex-wrap h-full">
            <div class="flex justify-center items-center w-full ">
                <div class="w-40 h-40 border rounded-full bg-black flex items-center justify-center overflow-hidden">
                    <img src="" alt="">
                    <p class="bg-blue-800 w-full h-full flex justify-center items-center">image</p>
                </div>
            </div>
            <div class="flex justify-center items-center w-full h-3">
                <h1 class="border border-b-2 border-blue-700 font-bold text-slate-950">Hanif Djanfarou</h1>
            </div>
        </div>    
    </div>
    <!--nav bar end content zone-->
    <div>
        <div class="grid grid-cols-2 h-full">
            <!--NavBar zone-->
            <div class="bg-slate-600">
                <div> <a><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" viewBox="0 0 24 24"><path fill="currentColor" d="m12 1.198l10 8.334V22H2V9.532l10-8.334ZM10 20h4v-5h-4v5Zm6 0h4v-9.532l-8-6.666l-8 6.666V20h4v-7h8v7Z"/></svg></a></div>
                <div><a href="#">parametre</a></div>
            </div>
            <!--Content zone-->
            <div class="bg-red-700">
                <div class="grid grid-cols-2">
                    <div class="bg-slate-950"> 
                        <p>image 1</p>
                    </div>
                    <div class="bg-violet-500">
                        <p>image2</p>
                    </div>
                    <div class="bg-cyan-300"> 
                        <p>image 1</p>
                    </div>
                    <div class="bg-slate-600">
                        <p>image2</p>
                    </div>
                    <div class="bg-red-500"> 
                        <p>image 1</p>
                    </div>
                    <div class="bg-slate-600">
                        <p>image2</p>
                    </div>


                </div>
            </div>
        </div>
       
    </div>
</div>
