<div class="h-full mx-10 pt-10 ">
    <!--Profile navbar -->
   <app-profile></app-profile>
    <!--nav bar end content zone-->
    <div class="pt-10 ">
        <div class=" h-full grid grid-cols-5 " id="content ">
            
            <!--Content zone-->
            <div *ngFor="let video of videos">
                
               
                <div>
                    <div class=" m-3 cursor-pointer" (click)="goToVideo(video.videoId)"> 
                        <div>
                            <img [src]="video.thumbnails" alt="" class="rounded-3xl">
                        </div>
                        <div class="my-3 pl-4">
                            <h1 class="text-gray-400  text-base font-bold">{{video.title}}</h1>
                        </div>
                        <a routerLink = "['/vidoe', video.videoId]"><button class="btn bg-red-600 hover:bg-red-300 border-none font-bold text-base text-gray-300 w-full">Suivre</button></a>
                    </div>    
                </div>
            
             <!--Content zone-->
              
        </div>
       
    </div>
</div>

<app-footer></app-footer>